@import "./colors";
@import "./media-queries";

@mixin animatedButton {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: $white;
  background: $red;
  padding: 1rem;
  border-radius: 10px;
  width: 220px;
  margin-left: 10px;
  font-weight: 600;
  font-size: 1.2rem;

  @include tablet {
    margin-left: 0;
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
  }
}

main {
  width: 100vw;
  background: $white;
  padding: 150px 0 0 0;

  @include mini {
    padding: 80px 0;
  }

  @include phone {
    padding: 50px 0;
  }

  #game-heading {
    width: 80vw;
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: space-between;
    color: $dark;
    position: relative;

    @include laptop {
      width: 95vw;
    }

    @include mini {
      width: 90vw;
    }

    @include tablet {
      flex-direction: column;
    }

    .left-heading {
      display: flex;
      flex-direction: column;
      position: relative;

      .console-label {
        border-bottom: 1px solid $red;
        padding-bottom: 0px;
        width: fit-content;
        font-weight: lighter;
        font-size: 1rem;
        position: absolute;
        transform: translateY(-150%);
      }

      h1 {
        font-size: 1.8rem;

        @include tablet {
          font-size: 1.5rem;
          margin: 5px 0;
        }
      }

      span {
        margin: 15px 0 10px 0;
        font-size: 0.9rem;
      }

      button {
        background: transparent;
        border: none;
        outline: none;
        color: $red;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        padding-bottom: 10px;

        @include tablet {
          margin: 10px 0 14px 0;
          font-size: 0.9rem;
          padding-bottom: 0;
        }

        i {
          font-size: 1.3rem;
          margin-right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          @include tablet {
            font-size: 1rem;
          }
        }

        &:hover p {
          border-bottom: 2px solid $darkred;
          color: $darkred;
        }

        &:hover i {
          color: $darkred;
        }
      }
    }

    .right-heading {
      display: flex;
      flex-direction: column;

      .right-heading-first-row {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        @include mini {
          flex-direction: column;
          align-items: flex-end;
          justify-content: flex-start;
        }

        @include tablet {
          justify-content: flex-start;
          align-items: flex-start;
        }

        .game-price {
          font-weight: 600;
          font-size: 1.8rem;

          @include mini {
            margin-bottom: 10px;
          }

          @include tablet {
            font-size: 1.5rem;
            margin-bottom: 15px;
          }
        }

        a {
          @include animatedButton;
        }
      }

      .coin-text-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 220px;
        margin: 10px 0 0 auto;

        @include tablet {
          margin: 10px auto 0 0;
        }

        a {
          text-decoration: none;
          color: $dark;

          &:hover {
            border-bottom: 2px solid $dark;
          }
        }

        img {
          margin-right: 10px;
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  #screenshot-lightbox {
    background: $sky;
    padding: 20px 0 0 0;

    .screenshot-container {
      width: 80vw;
      height: 50vh;
      margin: 0 auto;
      display: flex;
      position: relative;
      overflow: hidden;

      @include miniLaptop {
        width: 95vw;
      }

      @include tablet {
        height: 120vh;
      }

      @include phone {
        height: 80vh;
      }

      & div {
        transition: all 1000ms ease;

        img {
          border: 1px solid $dark;
          cursor: pointer;
          opacity: 0.9;
          transition: all 150ms ease;

          &:hover {
            opacity: 1;
            transition: all 150ms ease;
          }
        }
      }

      .first-container {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0%;
        position: absolute;
        display: grid;
        grid-gap: 5px;
        grid-template-areas:
          "a a b c"
          "a a d e";

        @include tablet {
          grid-template-areas:
            "a a a a"
            "a a a a"
            "b b c c"
            "d d e e";
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        #first-img {
          grid-area: a;
        }

        #second-img {
          grid-area: b;
        }

        #third-img {
          grid-area: c;
        }

        #fourth-img {
          grid-area: d;
        }

        #fifth-img {
          grid-area: e;
        }
      }

      .second-container {
        position: absolute;
        top: 0;
        left: 100%;
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;

      i {
        font-size: 5rem;
        margin: 0 15px;
        cursor: pointer;
        color: $blue;
        transition: all 250ms ease;

        &:hover {
          transform: scale(1.2);
          color: $lightblue;
          transition: all 250ms ease;
        }

        @include tablet {
          display: none;
        }
      }

      .dot {
        width: 15px;
        height: 15px;
        background: $blue;
        border-radius: 50%;
        margin: 0 15px;
        transition: all 250ms ease;
        cursor: pointer;

        &:hover {
          transform: scale(1.2);
          background: $lightblue;
          transition: all 250ms ease;
        }

        &.active {
          position: relative;
          transition: all 250ms ease;

          &:hover {
            cursor: grab;
            transform: scale(1);
          }

          & div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
          }

          .f {
            width: 15px;
            height: 15px;
            background: $blue;
            z-index: 4;
          }

          .s {
            width: 20px;
            height: 20px;
            background: $sky;
            z-index: 3;
          }

          .t {
            width: 25px;
            height: 25px;
            background: $blue;
            z-index: 2;
          }
        }
      }
    }

    #lightbox-modal {
      position: fixed;
      z-index: 20;
      background: rgba($color: #000000, $alpha: 0.5);
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transition: all 500ms ease;

      &.show-modal {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
        transition: all 500ms ease;
      }

      img {
        min-width: 60vw;
        min-height: 60vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include phone {
          min-width: 40vw;
          min-height: 40vh;
        }
      }

      i.fa-caret-left,
      i.fa-caret-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1rem;
        color: $white;
        background: rgba($color: #000000, $alpha: 0.5);
        padding: 0.5rem 1rem;
        cursor: pointer;

        &.fa-caret-right {
          right: 20px;

          @include tablet {
            right: 0;
          }
        }
      }
    }
  }

  #explore {
    padding: 15vh 10vw;
    color: $dark;

    @include miniLaptop {
      padding: 10vh 2vw;
    }

    @include tablet {
      padding: 10vh 5vw 10vh 2vw;
    }

    h1 {
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 15px;
    }

    p {
      line-height: 25px;

      @include tablet {
        font-size: 0.9rem;
      }
    }

    a {
      @include animatedButton;
      margin: 0;
      min-width: fit-content;
      align-items: center;
      margin-top: 20px;

      @include tablet {
        width: fit-content;
      }

      i {
        margin-left: 15px;
      }
    }
  }

  #grid-information {
    padding: 0vh 10vw;
    display: grid;
    grid-gap: 15px;
    grid-template-areas:
      "a b"
      "c d"
      "e f"
      "g f"
      "h i"
      "h i"
      "j j";

    @include miniLaptop {
      padding: 0vh 2vw;
    }

    @include tablet {
      grid-gap: 0;
      padding: 0vh 5vw 0vh 2vw;
      grid-template-areas:
        "a a"
        "c c"
        "e e"
        "g g"
        "b b"
        "d d"
        "f f"
        "h h"
        "i i"
        "j j";
    }

    .colored-background {
      background: $gray;
    }

    .grid-container {
      padding: 15px 0;
      display: flex;
      align-items: center;
      color: $dark;

      .left-side {
        margin-right: 30px;
        display: flex;
        align-items: center;

        i {
          font-size: 1.8rem;
          margin: 0 15px;
        }

        span,
        h2,
        p {
          font-weight: 600;
          font-size: clamp(1rem, 1.2vw+1, 1.2vw);
        }
      }

      span {
        font-size: clamp(0.9rem, 1vw+1, 1vw);
      }

      h2 {
        font-weight: 600;
        font-size: clamp(1rem, 1.2vw+1, 1.2vw);
      }
    }

    #release-grid {
      grid-area: a;
    }

    #developer-grid {
      grid-area: b;
    }

    #players-grid {
      grid-area: c;
    }

    #size-grid {
      grid-area: d;
    }

    #genre-grid {
      grid-area: e;
    }

    #languages-grid {
      grid-area: f;
      display: flex;
      align-items: flex-start;

      @include tablet {
        margin-bottom: 15px;
      }

      .left-side {
        align-items: flex-start;
        p {
          .languages-text {
            font-weight: normal;
            font-size: clamp(0.9rem, 1vw+1, 1vw);
            margin-left: 30px;
          }
        }
      }
    }

    #publisher-grid {
      grid-area: g;
    }

    #play-modes-grid {
      grid-area: h;
      flex-direction: column;
      align-items: flex-start;
      padding: 15px 60px;

      .first-row {
        text-align: left;
      }

      .second-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        width: 100%;
        justify-content: space-between;
        margin: 15px 0;
        .play-mode {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;

          &:first-of-type {
            align-items: flex-start;
          }

          &:last-of-type {
            align-items: center;
          }

          img {
            width: 80px;
            height: 80px;
          }

          span {
            text-align: center;

            &:last-of-type {
              text-align: right;
            }
          }
        }
      }

      .third-row {
        font-size: 0.9rem;
        a {
          color: $red;
        }
      }
    }

    #esrb-grid {
      grid-area: i;
      flex-direction: column;
      padding: 15px 50px;
      align-items: flex-start;

      @include tablet {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      h2 {
        margin-bottom: 15px;
      }

      .esrb-container {
        display: grid;
        grid-gap: 15px;
        text-decoration: none;
        color: $dark;
        align-items: center;
        grid-template-areas:
          "a b b"
          "a b b"
          "a c c";

        img {
          grid-area: a;
          height: 80px;
        }

        small {
          width: 200px;
          font-size: 0.75rem;
        }

        small:first-of-type {
          grid-area: b;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            bottom: -15px;
            left: 0;
            width: 100%;
            height: 2px;
            background: $dark;
          }
        }

        small:last-of-type {
          grid-area: c;
        }
      }
    }

    #online-grid {
      grid-area: j;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;

      @include tablet {
        justify-items: flex-start;
      }

      .first-row {
        display: flex;
        grid-gap: 0px;

        @include tablet {
          flex-direction: column;
        }

        img {
          height: 60px;
          align-self: flex-start;
        }

        p {
          margin: 0 30px;
          width: 400px;

          @include miniLaptop {
            width: 300px;
          }

          @include tablet {
            width: 100%;
            margin: 30px 0;
          }
        }

        a {
          position: relative;
          text-decoration: none;
          color: $dark;
          font-weight: 600;
          font-size: clamp(1.1rem, 1.3vw+1, 1.3vw);
          transition: all 250ms ease;
          height: fit-content;

          @include tablet {
            width: fit-content;
          }

          i {
            margin-left: 15px;
            position: absolute;
          }

          &:hover {
            border-bottom: 2px solid $dark;
            opacity: 1;
            transition: opacity 250ms ease;
          }
        }
      }

      .second-row {
        margin: 50px 0 0 0;
        display: grid;
        align-items: center;
        grid-template-areas: "a b c";

        @include tablet {
          grid-gap: 20px;
          grid-template-areas:
            "a a a a"
            "b b c c";
        }

        p {
          font-weight: 600;
          font-size: 1.3rem;
          margin-right: 50px;
          grid-area: a;
        }

        a {
          @include animatedButton;
          width: fit-content;
          font-size: clamp(1rem, 1vw+1, 1vw);
          animation-duration: 1s;
          animation-delay: 0;

          &:first-of-type {
            grid-area: b;
          }

          &:last-of-type {
            grid-area: c;
          }
        }
      }
    }
  }

  #small-copyright-container {
    position: relative;
    margin: 10vh 0;
    padding: 0vh 10vw;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10vh;
      width: 80vw;
      transform: translateX(10vw);
      height: 2px;
      background: $gray;

      @include miniLaptop {
        width: 96vw;
        transform: translateX(2vw);
      }

      @include tablet {
        width: 90vw;
        transform: translateX(5vw);
      }
    }

    @include miniLaptop {
      padding: 0vh 2vw;
    }

    @include tablet {
      padding: 0vh 5vw 0vh 2vw;
    }

    small {
      font-size: 0.75rem;
      color: $dark;
      display: block;
      margin-bottom: 30px;

      a {
        color: $red;

        &:hover {
          color: rgba($red, 0.8);
        }
      }
    }
  }

  #other-games {
    padding-bottom: 150px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0vh;
      width: 80vw;
      transform: translateX(10vw);
      height: 2px;
      background: $gray;

      @include miniLaptop {
        width: 96vw;
        transform: translateX(2vw);
      }

      @include tablet {
        width: 90vw;
        transform: translateX(5vw);
      }
    }
    h1 {
      padding: 10vh 10vw 5vh 10vw;
      color: $dark;
      font-size: clamp(1.2rem, 2vw+1, 2vw);

      @include miniLaptop {
        padding: 5vh 2vw;
      }

      @include tablet {
        padding: 5vh 10vw 5vh 10vw;
      }
    }

    #games {
      position: relative;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 2vw;
      padding: 0 2vw;

      @include phone {
        padding: 0 10vw;
        grid-gap: 15vw;
      }

      &:hover .fa-angle-left,
      &:hover .fa-angle-right {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }

      .game-container {
        display: flex;
        flex-direction: column;
        color: $dark;
        width: 17.8vw;
        transition: all 1000ms ease;

        @include miniLaptop {
          width: 22.75vw;
        }

        @include mini {
          width: 33vw;
          transition: all 500ms ease;
        }

        @include tablet {
          width: 47vw;
        }

        @include phone {
          width: 80vw;
        }

        img {
          border-radius: 5px;
          transition: all 250ms ease;
          width: 100%;

          &:hover {
            filter: brightness(70%);
            transition: all 250ms ease;
          }
        }

        a {
          text-decoration: none;
          font-weight: 600;
          color: $dark;
          font-size: 1.2rem;
          margin: 20px 0;
        }

        .price {
          font-weight: 600;
          font-size: 1.2rem;
          margin-bottom: 20px;
        }

        .game-bottom {
          display: flex;
          justify-content: space-between;

          .console {
            padding-bottom: 5px;
            border-bottom: 2px solid $red;
            font-size: 0.9rem;
          }

          i {
            color: $red;
            font-size: 1.5rem;
            cursor: pointer;
          }
        }
      }

      & > i {
        position: absolute;
        height: 100%;
        width: 40px;
        background: rgba(#000000, 0.8);
        top: 50%;
        transform: translateY(-50%);
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-size: 2rem;
        cursor: pointer;
        transition: all 250ms ease;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;

        @include tablet {
          opacity: 1;
          visibility: visible;
          pointer-events: all;
          height: 20%;
          width: 50px;
          top: 30%;
        }

        &:hover {
          background: #000000;
          transition: all 250ms ease;
        }

        &.fa-angle-left {
          left: 0%;
        }

        &.fa-angle-right {
          right: 20px;

          @include tablet {
            right: 0;
          }
        }
      }
    }
  }

  #recently-viewed {
    padding: 10vh 10vw;

    h1 {
      color: $dark;
      padding-bottom: 5vh;
    }

    .recently-viewed-game {
      display: flex;
      flex-direction: column;
      width: 250px;
      margin: 0 auto;
      color: $dark;

      img {
        width: 100%;
        border-radius: 5px;
        transition: all 250ms ease;

        &:hover {
          filter: brightness(70%);
          transition: all 250ms ease;
        }
      }

      .date {
        margin: 8px 0;
      }

      .game-name {
        text-decoration: none;
        color: $dark;
        font-weight: 600;
        font-size: 1.3rem;
        margin: 8px 0 16px 0;
      }

      .price {
        font-weight: 600;
        font-size: 1.2rem;
      }

      .game-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
        align-items: center;

        span {
          padding-bottom: 5px;
          border-bottom: 2px solid $red;
        }

        i {
          font-size: 1.5rem;
          color: $red;
        }
      }
    }
  }
}
